<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content" >
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" >
            <i class="fa fa-bars"></i>
          </button>
          <h3 style="color:#003366">ADMIN</h3>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
            <li>
              <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
              <a  href="logout">Logout</a>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->
     </div>
<div class="row">
  <div class="col-sm-3">
     <div class="card" style="width:200px; margin-left: 150px; margin-top: 150px">
       <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQWBzk9IVPx16-mAJf1PKqDNceYp0xAM4cwBg&usqp=CAU" alt="Card image" style="width:80% ; margin-left: 20px ; margin-top:100px">
      <div class="card-body">
        <a href="registeraai" class="btn btn-primary" style="background:#003366">Register AAI OFFICIALS</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width:200px; margin-left: 150px; margin-top: 150px">
       <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-KqsQK9rhIJwwngmdJDAKXTEb9CnT9tUZ3g&usqp=CAU" alt="Card image" style="width:60% ; margin-left: 20px ; margin-top:100px">
      <div class="card-body">
        <a href="#" class="btn btn-primary" style="background:#003366">Manage Configurations</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>

